@model IEnumerable<WebApplication1.Models.Forum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post_Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users_Stud.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Post_Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users_Stud.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Post_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Post_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Post_ID })
        </td>
    </tr>
}

</table>
